<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Clothing Store</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/loader.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="base">

		<!--Loader-->

		<div class= "loader">_Booting</div>
	<section class="main">
		<!--Navigation--> 
		<section class="navbar">
			<div class="container flex">
				<h1 class="logo">Character Select</h1>
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="support">Support</a></li>
						<li><a href="#" class="shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
						<li><a href="signup"><i class="fa-regular fa-user"></i></a></li>
					</ul>
				</nav>
			</div>
		</section>

		<nav class="mini-cart">
			<ul>
				<% if(userCart[0]) { %>
					<% userCart.forEach(el => { %>
						<li class="item" data-id="<%= el.id %>">
						 <img src="<%= el.img %>" alt="">
						 <span><%= el.name %></span>
						 <span><%= el.size[0].toUpperCase() %> -></span>
						 <span>x<%= el.qty %></span>
						 <a href="#" class="del"><i class="fa-solid fa-square-minus"></i></a>
						</li>
					<%})%>
					<%} else {%>
					 <li><span>No Armor Equipped...</span></li>
				<% } %>
			</ul>
			<% if(user._id) { %>
				<div class = "checkout"><a href="checkout"><button class="btn btn-pushable btn-pushable--black">Checkout</button></a></div>
			<%} else {%>
				<div class = "checkout"><a href="/signup"><button class="btn btn-pushable btn-pushable--black">Signup</button></a></div>
			<% } %>
		</nav>

		<!--Selections-->

		<section class="select flex categories">
			<div class="flex">
				<h2>Tops</h2>
				<a href="tops"><button class="btn btn-pushable btn-pushable--black">Browse</button></a>
				<object data="/img/hoodie2.svg" type="image/svg+xml"></object>
			</div>
			<div class="flex">
				<h2>Bottoms</h2>
				<a href="bottoms"><button class="btn btn-pushable btn-pushable--black">Browse</button></a>
				<object data="/img/trousers.svg" type="image/svg+xml"></object>
			</div>
			<div class="flex">
				<h2>Coming Soon...</h2>
				<a href="#"><button class="btn btn-pushable btn-pushable--black">Browse</button></a>
				<object data="/img/perspective-dice-six-faces-random.svg" type="image/svg+xml"></object>
			</div>
		</section>

		<!--License-->

		<footer id="footer" class="footer flex">
			<p>Designed and built by: <a href="https://github.com/r-Dev03">Ribbal Hussain</a></p>
		</footer>
	</section>
	<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
