<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Support</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		<!--Navigation--> 
		<section class="navbar">
			<div class="container flex">
				<h1 class="logo">Character Select</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#" class="shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
						<li><a href="signup"><i class="fa-regular fa-user"></i></a></li>
					</ul>
				</nav>
			</div>
		</section>

		<nav class="mini-cart">
			<ul>
				<% if(userCart[0]) { %>
					<% userCart.forEach(el => { %>
						<li class="item" data-id="<%= el.id %>">
						 <img src="<%= el.img %>" alt="">
						 <span><%= el.name %></span>
						 <span><%= el.size[0].toUpperCase() %> -></span>
						 <span>x<%= el.qty %></span>
						 <a href="#" class="del"><i class="fa-solid fa-square-minus"></i></a>
						</li>
					<%})%>
					<%} else {%>
					 <li><span>No Armor Equipped...</span></li>
				<% } %>
			</ul>
			
			<% if(user._id) { %>
				<div class = "checkout"><a href="checkout"><button class="btn btn-pushable btn-pushable--black">Checkout</button></a></div>
			<%} else {%>
				<div class = "checkout"><a href="/signup"><button class="btn btn-pushable btn-pushable--black">Please Signup</button></a></div>
			<% } %>
		</nav>

		<!--Selections-->

		<section class="select flex support-container">
			<div class="flex support">
				<h2>Shipping Policy</h2>
                <p>Please allow shipping to take 2-3 weeks. For any inquiries regarding late shipping or any other issues, please contact 123-456-789</p>
            </div>
			<div class="flex support">
				<h2>Return Policy</h2>
                <p>Returns are approved if purchase is within 2 week policy. Please allow 2-3 weeks for returns to be processed and refunds to be delivered.</p>
            </div>
			<div class="flex support">
				<h2>Contact</h2>
                <p>For any other issues, feel free to contact our support line. Mulitple customer service representatives will be happy to help with your issue.</p>
            </div>
        </section>
		<script type="text/javascript" src="/js/main.js"></script>
		</body>