<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tops</title>

    <!-- external CSS link -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body class="tops base">
	<!--Navigation--> 
	<section class="navbar">
		<div class="container flex">
			<a href="/"><h1 class="logo">Character Select</h1></a>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="support">Support</a></li>
					<li><a href="#" class="shopping-cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href="signup"><i class="fa-regular fa-user"></i></a></li>
				</ul>
			</nav>
		</div>
	</section>

	<nav class="mini-cart">
		<ul>
			<% if(userCart[0]) { %>
				<% userCart.forEach(el => { %>
					<li class="item" data-id="<%= el.id %>">
					 <img src="<%= el.img %>" alt="">
					 <span><%= el.name %></span>
					 <span><%= el.size[0].toUpperCase() %> -></span>
					 <span>x<%= el.qty %></span>
					 <a href="#" class="del"><i class="fa-solid fa-square-minus"></i></a>
					</li>
				<%})%>
				<%} else {%>
				 <li><span>No Armor Equipped...</span></li>
			<% } %>
		</ul>
		
		<% if(user._id) { %>
			<div class = "checkout"><a href="checkout"><button class="btn btn-pushable btn-pushable--black">Checkout</button></a></div>
		<%} else {%>
			<div class = "checkout"><a href="/signup"><button class="btn btn-pushable btn-pushable--black">Signup</button></a></div>
		<% } %>
	</nav>

    <!--Tops-->
	<section class=" container grid">
		<% tops.forEach(el => { %>
			<div class="flex">
				<section class="products flex">
			 		<span><%= el.name %></span>
		 			<a href="/product/<%= el._id %>"><img src="<%= el.image %>" alt=""></a>
		 			<form action="/cart/addProduct" method="POST">
					<button class="btn btn-bottom-stripe btn-bottom-stripe--black addProduct" type="submit"> Add To Cart </button>
					<input type="hidden" name="name" value="<%= el.name %>">
					<select name="size" id="size" required>
						<option value="">--Size--</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
					</select>
				</form>
			  </section>
			</div>
			<%})%>
	</section>

<% if (req.query.success !== undefined) { %>  
	
	<div class="alert-success">
		<img src="img/coin.gif" alt="">
		<h3>Added to cart successfully!</h3>
		<i class="fa-solid fa-square-xmark x-button"></i>
	</div>
	
	<% } %>

	<footer id="footer" class="footer flex">
		<p>Product designs are supplied by respective titles of Nintendo</p>
	</footer>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>